.text-card {
  .double-mode {
    font-size: 11px;
    font-family: vazirBold;
    .text-card-icon {
      background-color: rgba(253, 200, 22, 0.13);
      color: rgba(253, 200, 22, 1);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 0.5rem;
      font-size: 1rem;
    }
  }

  .single-mode {
    font-size: 0.75rem;
    font-weight: 300;
    font-family: VazirFDWOL;
    &:hover{
        cursor: pointer;
    }
    .text-card-icon {
      color: rgba(129, 129, 129, 1);
      font-size: 1rem;
      font-weight: 300;
      font-family: vazirCode;
    }
  }
  .double-mode,
  .single-mode {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    color: rgba(112, 112, 112, 1);
    text-align: right;
  }
  .user-card-text {
    p:first-of-type {
      font-size: 1rem;
      font-family: laleZarRegular;
    }
    p {
      font-size: 11px;
      font-family: VazirFDWOL;
      text-align: left;

    }
  }
}
