.search-input {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(231, 231, 231, 1);
  width: 208px;
  height: 48px;
  border-radius: 10px;
  padding-left: 0.75rem;

  input {
    outline: none;
    border: none;
    text-align: right;
    
  }
  ::placeholder {
    color: rgba(231, 231, 231, 1);
    padding: 10px;
  }
}
