.side-bar-wrapper{

        flex-grow: 9;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        min-height: 100vh;
        img{
          margin:2rem 0;    
        }
        .routes{
            display: flex;
            flex-direction: column;
            align-items:flex-end ;
            margin-top:2rem;
        }
        &.gray-title{
            text-align: right;
            color:rgba(231, 231, 231, 1);
            font-family: vazirCode;
        }
    
}

