@font-face {
  font-family: 'lale_zar';
  src: local('lale_zar'),
    url(./assets/fonts/lale-zar/Lalezar-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'vazir';
  src: local('Vazir-Code'),
    url(./assets/fonts/vazir/Vazir-Code.ttf) format('truetype');
}

body {
  box-sizing: border-box;
  background-color: #f6f6f6;
}

.my-irancell-page {
  font-family: lale_zar;
  display: flex;
  gap: 1rem;

  main {
    flex-grow: 8;
    h1 {
      font-size: 23;
      font-weight: 400;
    }

    .header {
      position: relative;
      top: 0;

      span {
        position: absolute;
        bottom: 1.5rem;
        left: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(253, 200, 22, 1);
        color: white;
        width: 82px;
        height: 26px;
        border-radius: 3px;
        font-size: 12px;
        padding: 3px 6px;
      }
      p {
        position: absolute;
        bottom: 2.5rem;
        left: 16px;
        font-size: 23px;
      }
    }

    .buy-button {
      width: 73px;
      height: 30px;
      border-radius: 5px;
      color: white;
      background-color: rgba(253, 200, 22, 1);
      border: none;
      outline: none;
      font-size: 1rem;
    }
  }

  aside {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem 0 1rem 1rem;

    .info-card {
      border-radius: 25px;
      width: 331px;
      height: 93px;
      color: #818181;
      margin-bottom: 9px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      background-color: #ffff;
      font-family: lale_zar;
      img {
        background-color: #fdc816;
        border-radius: 50%;
        width: 62px;
        padding: 6px;
        height: 62px;
        object-fit: cover;
        border-radius: 50%;
        margin: 1rem 1.25rem;
      }

      h1 {
        font-weight: 300;
        font-size: 15px;
        text-align: right;
      }

      p {
        font-weight: 700;
        font-size: 12px;
      }
    }

    .sim-card-info {
      width: 331px;
      border-radius: 13px;
      background-color: #fffcef;
      flex-grow: 4;
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      section {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        color: rgba(112, 112, 112, 1);
        font-size: 11px;
        font-size: 11px;
        text-align: right;
        row-gap: 8px;
        gap: 13px;
      }

      .icon-box {
        width: 31px;
        height: 31px;
        border-radius: 8px;
        background: rgba(253, 200, 22, 0.13);
        padding: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .download-our-app {
        border-radius: 8px;
        width: 288px;
        height: 104px;
        margin: 22px;
      }
    }
  }

  .side-bar {
    flex-grow: 1;
    background-color: white;
    width: 280px;
    display: flex;
    flex-direction: column;
    .main-page-button {
      border-left: #fdc816 3px solid;
      padding-left: 113px;
    }
    &--active-option {
      font-weight: 700;
      font-size: 15px;
      color: #626161;
    }
    &--sub-menu {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 11px;
      font-size: 15px;
      font-weight: 300;
      font-family: vazir;
      color: #818181;
    }
  }
}

.suggest-packages {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 1rem;
  table {
    border: 1px solid rgba(235, 235, 235, 1);
    border-collapse: separate;
    border-radius: 9px;
    width: 95%;
    margin: 16px;
    font-family: vazir;

    tr {
      height: 57px;
      border-bottom: 1px solid rgba(235, 235, 235, 1);
    }
    td {
      border-bottom: 1px solid rgba(235, 235, 235, 1);
    }
    tr:last-of-type {
      td {
        border-bottom: none;
      }
    }
    tr:first-of-type {
      th {
        border-bottom: 1px solid rgba(235, 235, 235, 1);
      }
    }
    th {
      height: 50px;
    }
    th:last-of-type,
    th:first-of-type {
      padding: 10px;
    }
  }
}

.search-box {
  width: 207px;
  height: 44px;
  border: 1px solid rgba(231, 231, 231, 1);
  border-radius: 10px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 1rem;

  input {
    font-family: vazir;
    outline: unset;
    border: unset;
    width: 100%;
    height: 90%;
  }

  ::-webkit-input-placeholder {
    /* Edge */
    font-family: vazir;
    font-size: 1rem;
    color: rgba(231, 231, 231, 1);
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-family: vazir;
    font-size: 1rem;
    color: rgba(231, 231, 231, 1);
  }

  ::placeholder {
    font-family: vazir;
    font-size: 1rem;
    color: rgba(231, 231, 231, 1);
  }
}

.sub-title {
  font-size: 12px;
  font-family: vazir;
  color: #e7e7e7;
  text-align: right;
}
